{% extends 'base.html' %}
{% block content %}
<div class="conclusion-content">
    <h2>Conclusiones</h2>
    <div class="conclusion-card">
        <ul>
            <li>
                El <b>ambiente escolar</b> actualmente no fortalece la resiliencia; el estrés académico genera bloqueo emocional y limita el rendimiento.
            </li>
            <li>
                Es esencial que la <b>resiliencia</b> se enseñe, practique y evalúe como competencia dentro del proceso educativo.
            </li>
            <li>
                El <b>hogar</b> sigue siendo el principal factor protector, y debe integrarse el fortalecimiento de habilidades socioemocionales en ambos entornos.
            </li>
        </ul>
    </div>
</div>
{% endblock %}
