{% extends 'base.html' %}
{% block content %}
<div class="home-content">
    <h1>
        <span class="pastel-gradient-text">Bienvenido al Blog del Proyecto de Grado</span>
        <span class="floating-emoji">✨</span>
    </h1>
    <p>Explora el trabajo, el equipo y todas las evidencias y conclusiones del proyecto.</p>
    <div class="welcome-orbs">
        <div class="orb orb1"></div>
        <div class="orb orb2"></div>
        <div class="orb orb3"></div>
        <div class="orb orb4"></div>
    </div>
    <div class="wow-box">
        <div class="wow-wave"></div>
        <div class="wow-heart"></div>
        <div class="wow-star"></div>
    </div>
</div>
{% endblock %}