{% extends 'base.html' %}
{% block content %}
<div class="recommend-content">
    <h2>Recomendaciones</h2>
    <div class="recommend-card">
        <ul>
            <li>
                Explorar la viabilidad de un proyecto de <b>investigación-acción</b> enfocado en el diseño de un Marco Curricular para la Resiliencia, centrado en <b>autorregulación emocional</b> y <b>tolerancia a la frustración</b>.
            </li>
            <li>
                Investigar las necesidades de <b>formación docente</b> en habilidades socioemocionales y determinar un plan de cualificación.
            </li>
            <li>
                Implementar mecanismos para que los profesores <b>construyan vínculos de confianza</b> y reduzcan la sensación de aislamiento.
            </li>
        </ul>
    </div>
</div>
{% endblock %}
